.App {
    text-align: center;
}

button {
    cursor: pointer;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    color: #fff;
    background: none;
    border: 0.2em solid #fff;
}

.pomodoro-settings {
    display: flex;
    justify-content: center;
    width: 448px;
    margin: 0 auto;
    gap: 2em;

    .setting-wrapper {
        flex: 1;

        p {
            font-size: 1.5em;
        }
    }

    .setting-wrapper:last-child {
        order: -1;
    }

    .setting-button {
        display: flex;
        justify-content: center;
        font-size: 3em;

        > * {
            flex-basis: 4.2rem;
        }

        i {
            font-size: 2em;
        }
    }
}

.timer-wrapper {
    font-size: 3em;
    border: 4px solid #fff;
    max-width: 29rem;
    margin-inline: auto;
    border-radius: 2rem;
    margin-block-start: 1em;

    p {
        font-size: 1.2em;
        margin-block-end: 0.2em;
        margin-block-start: 0;
    }
}

.controllers-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-block-start: 1em;

    button {
        font-size: 2em;
        flex-basis: 3em;
        border-width: 0.1em;
        height: 3em;
    }
}

#reset {
    animation-name: reset-button-spin;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(1, -0.01, 0, 1.46);
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-play-state: paused;
    &:hover {
        animation-direction: normal;
        // animation-iteration-count: 1;
        animation-play-state: running;
    }
}

.increment-btn-animation {
    i {
        animation-name: increment;
        animation-duration: 800ms;
        animation-timing-function: cubic-bezier(0.73, 0.22, 0.21, 0.7);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
}

.decrement-btn-animation {
    @extend .increment-btn-animation;
    i {
        animation-name: decrement;
    }
}

@keyframes reset-button-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes increment {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes decrement {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.timer-to-end {
    color: #9a031e;
    border-color: #9a031e;
}

@media (max-width: 450px) {
    .pomodoro-settings {
        flex-direction: column;
        width: 100%;
    }
}
